<footer class="foot">
    <address class="copyright">@{{.Now "2006"}} Checklist.love <a href="https://github.com/xiongbao/checklist.love">Github</a></address>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?60055dbbf35e2d7bf24602c235aa06a5";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</footer>